body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/ec/World_map_blank_without_borders.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  background-color: #f0f4f8; 
}